<!DOCTYPE html>
<html>
<head>
    <title>Employee Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <h1>Add New Employee</h1>

    <form action="/register" method="POST">
       
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="text" name="position" placeholder="Enter Position" required>
        <input type="text" name="salary" placeholder="Enter Salary" required>
        <button type="submit">Submit</button>
    </form>

</body>
</html>
