.top-bar {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    padding: 8px 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #45a049;
}

.cards {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.card {
    flex: auto;
    background: #EDEDCE;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
    color: #09637E;
}

.card p {
    font-size: 20px;
    font-weight: bold;
    color: #088395;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.edit-btn {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

td:last-child,
th:last-child {
    text-align: center;
}

td:last-child form {
    display: inline-block;
    margin-left: 5px;
}


button:hover {
    opacity: 0.9;
}
